<table>
  <thead>
  <tr>
    <th>Nazwa</th>
    <th>Symbol</th>
    <th>Cena</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <div class="search-container">
    <input
      type="text"
      (input)="updateSearch($event)"
      class="search-input"
      placeholder="Wyszukaj kryptowalutę (np. BTC, Solana)..."
    >
  </div>

    @for ( coin of filteredCryptos(); track coin.symbol) {
      <tr [routerLink]="['/coin', coin.symbol.toLowerCase()]" class="coin-row">
        <td>{{ coin.name }}</td>
        <td>{{ coin.symbol }}</td>
        <td>{{ coin.price }} USD</td>
        <td><input type="number" #amountInput (click)="$event.stopPropagation()"></td>
        <td><button (click)="cryptoService.buyCoin(coin,+amountInput.value)">KUP</button></td>
      </tr>
    }
  </tbody>
</table>
